<html>
  <link
    href="{{ url_for('static',filename='css/images.css') }}"
    rel="stylesheet"
    type="text/css"
  />
  <head>
    <title>Finstagram</title>
  </head>
  <body>
    <h1>Image Gallery</h1>
    <div class="gallery">
      {% for image in images %}
      <div class="photo">
        <img src="/images/{{image.filePath}}" width="300" />
        <p>Photo Poster: {{image.photoPoster}}</p>
        <p>Posted Date: {{image.postingdate}}</p>
        <a href="/images/{{image.photoID}}">View FurtherImage Details</a>
      </div>
        </div>
        <!-- need to add tagged and likes -->
      </div>
      {% endfor %}
    </div>
    <a href="/">Go back</a>
  </body>
</html>
