<html>
  <link
    href="{{ url_for('static',filename='css/images.css') }}"
    rel="stylesheet"
    type="text/css"
  />
  <head>
    <title>Finstagram</title>
  </head>
  <body>
    <h1>Image Details</h1>
    <div class="gallery">
      <div class="photo">
        <img src="/images/{{image.filePath}}" width="300" />
        <p>Photo Poster: {{image["photoPoster"]}}</p>
        <p>Photo ID: {{image["photoID"]}}</p>
        <p>Posted Date: {{image["postingdate"]}}</p>
        <hr>
        <p>Tag Table:</p>
        {{table1}}
        <br>
        <hr>
        <br>
        <form name="likeForm" action="/images/{{photoID}}" method="post">
          <p>What is your rating for this Image?</p>
          <select name="rating">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <br />
          <input
            name="likeForm"
            type="submit"
            value="Rate!"
            action="/images/{{photoID}}"
          />
        </form>
        <p>Rating Table:</p>
        {{table}}
        <br />
        <hr>
        <br />
        <form name="commentForm" action="/images/{{photoID}}" method="post">
          <p>Write your comment here:</p>
          <input type="text" name="userComment" /><br />
          <input name="commentForm" type="submit" value="Submit Comment" />
        </form>
        <p>Comments:</p>
        {{commentResults}}
      </div>
      <!-- need to add tagged and likes -->
    </div>
  </div>
  <a href="/images">Go back</a>
</body>
</html>

