<html>
  <head>
    <title>Image Upload</title>
  </head>
  <body>
    <h1>Upload an Image!</h1>
    <div>
      <form action="/uploadImage" method="post" enctype="multipart/form-data">
        <input type="file" name="imageToUpload" accept="image/*" />
        <br />
        <input type="radio" name="visibility" value="1" /> Visible to all
        followers
        <br />
        <input type="radio" name="visibility" value="0" /> Visible to only
        people in the FriendGroup
        <br />
        <select name="g_names">
          {% for group_name in group_names %}
          <option value="{{group_name.groupName}}"
            >{{group_name.groupName}}</option
          >
          {% endfor %}
        </select>
        <br />
        <input type="submit" value="Upload" action="/upload" />
      </form>
    </div>
    {% if message %} {{ message }} {% endif %}
    <br />
    <a href="/">Go back</a>
  </body>
</html>
